*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: sans-serif;
}
/*------------------------------------------------
----------------------navbar------------------*/
.menu-bar{
	background:linear-gradient(to right, #a517ba, #5f1782);
	text-align: center;
	
}
.menu-bar ul{
	display: inline-flex;
	color: #fff;
	list-style: none;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a{
	color: #FFF;
	text-decoration: none;
}
.menu-bar ul li:hover{
	color: #3ef153;
	background-color: #eed243;
	border-radius: 8px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background:linear-gradient(to right, #a517ba, #5f1782);
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #FFF;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: #eacc3d;
}



 .overlay {
    display: none;
    height: 100%;
	 overflow: hidden;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:linear-gradient(to top right, rgb(7, 26, 216) 2%, rgba(23, 41, 21, 0.97) 46%), linear-gradient(to left, rgba(221, 230, 220, 0.971) 17%, rgba(250, 170, 240, 0.973) 60%);
    /* background-color: rgba(0,0,0, 0.9); */
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 18%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  span{
      display: none;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      padding: 5px;
      color: #FFF;
      top: 0;
      font-family:serif;
      font-weight: 800;
  }
  .overlay a {
	margin-bottom: 10px;
    text-decoration: none;
    font-size: 28px;
    color: #FFF;
    display: block;
    transition: all 500ms;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 80px;
    right: 25px;
    font-size: 50px;

  }
/*---------------------------------
-----------banner jay ------------*/
.wrapper{
	height: 89vh;
	background-image: linear-gradient(to top right, rgb(7, 26, 216) 2%, rgba(23, 41, 21, 0.3) 46%), linear-gradient(to left, rgba(11, 0, 120, 0.31) 7%, rgba(170, 10, 140, 0.43) 50%), url(img/kid.jpg); 
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	
}
.container .row p{
	font-size: 22px;
}
.jay-intro{
	margin: auto;
}
.container .row{
	display: flex;
	margin: auto;
	justify-content: center;
	line-height: 1.5;
	color: #FFF;
	text-align: center;
}
img.jim-photo{
	height: 552px;
	width: 368px;
}


/*-------------------about page-------------*/
.about{
	height: 45vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #111;
}

.about .container p{
	color: #111;
	font-size: 25px;
	padding: 4px 20px;
}
 h3.title {
	color:#111;
}
.title::before{
	content: '';
	background: #276cad;
	height: 5px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	transform: translateY(63px);
}
h3.title::after{
	content: '';
	background: #276cad;
	height: 10px;
	width: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(22px);
}

/*-----------------------services by jay--------------*/
.services{
	padding: 80px 0;
	color: #111;
	background-color: beige;
}

.service-img{
	width: 100px;
	margin-top: 20px;
}

.container .row p{
	color: #111;
}
h4{
	color: #111;
}
.service-img .event-1{
	background: #ec9736;
}
h2.title::before{
	content: '';
	background: lawngreen;
	height: 5px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	transform: translateY(63px);
}
h2.title::after{
	content: '';
	background: lawngreen;
	height: 10px;
	width: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(18px);
}









/*------------media queries-----------
-----------------------------------------*/
@media only screen and (max-width:767px) and (min-width:100px){
	.menu-bar{
		display: none;
	}
	.overlay{
		display: flex;
		background:linear-gradient(to right, #a517ba, #5f1782);
	  }
	  span {
		display: flex;
		z-index: 1;
		background:linear-gradient(to right, #a517ba, #5f1782);
		color: #FFF;
		width: 100%;
		 font-size: 30px;
		padding: 15px;
		justify-content: flex-end;
	}
	  .navbar{
		display: none;
	  }
	  h3.title-jay {
		font-size: 22px;
		float: left;
		margin: auto;
		margin-left: 10px;
	}

/*
.overlay-content ul li .sub-menu-1 {
	display: none;
}
*/
.overlay-content ul li .sub-menu-1{
	display: block;
	width: 170px;
	background:linear-gradient(to right, #a517ba, #5f1782);
	margin-top: 15px;
	margin-left: 148px;
	
}
	
.overlay-content ul li .sub-menu-1 ul li{
/*	width: 150px;*/
	list-style: none;
	padding: 10px;
	border-bottom: 1px dotted #FFF;
	background: transparent;
	border-radius: 0;
	text-align: right;
}
.overlay-content ul li .sub-menu-1 ul li:last-child{
	border-bottom: none;
}
.overlay-content ul li:hover .sub-menu-1 ul li a:hover{
	color: #FFF;
}
	.overlay-content ul li a:hover{
		background: #add141;
		padding: 10px;
		cursor: pointer;
	}
	.ovarlay a{
		padding-top: 0px !important;
	}
	
/*	about-----------banner*/
	.container .row p{
	font-size: 15px;
	font-family: 'Grenze' sans-serif;
}
.container .row h2{
	font-size: 15px;
	font-family: 'Grenze' sans-serif;
}

	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	.wrapper{
	height: 89vh;
	background-image: linear-gradient(to top right, rgb(7, 26, 216) 2%, rgba(23, 41, 21, 0.3) 46%), linear-gradient(to left, rgba(11, 0, 120, 0.31) 7%, rgba(170, 10, 140, 0.43) 50%), url(img/fre.jpeg); 
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	
}
	.wrapper{
		display: flex;
		width: 100%;
		height: 90vh;
		flex-wrap: wrap;
	}
	.wrapper .jim-photo{
		display: none;
	}
}